{% extends "base.html" %}
{% block page_content %}
<h1>Change password</h1>
<form action={{ url_for('changePassword') }} method="POST">
	<p>Username:<input type="text" name="username" value={{ username }} readonly></p>
	<p>Old Password: <input type="password" name="old_password" required></p>
	<p>New Password: <input type="password" name="new_password" id="new_password" required></p>
	<p>Confirm Password: <input type="password" name="re-password" id="re-password" required></p>
	<input type="submit" value="Save">
</form>
{% endblock %}

