{% extends "base.html" %}
{% block page_content %}
<div class="search">
	<h1>Search:</h3>
	<form action= {{ url_for('search') }} method="POST">
		<p>Author:<input type="text" name="author"></p>
		<p>Publisher: <input type="text" name="publisher"></p>
		<p>Title: <input type="text" name="title"></p>
		<p>Language: <input type="text" name="language"></p>
		<p>Sort by:</p>
		<p><input type='radio' name='sort_by' value='publish_date' default> Publish Date</p>
		<p><input type='radio' name='sort_by' value='avg_score'> Average Score</p>
		<p><input type='radio' name='sort_by' value='avg_trusted_score'> Average Trusted Score</p>
		<p><input type="submit" value="Search"></p>
		
	</form>
</div>
{% if search_results %}
<h1>Results:</h3>
<div class="container">
	<div class="row">
	  {% for book in search_results %}
	  	<div class="col-sm-4">
			<a href="{{ url_for('viewProduct', isbn = book.isbn ) }}">
				<img class="productImage" style="height:150px; width:auto;"src={{url_for('static', filename='uploads/'+ book.image_filename) }} />
				<p>{{ book.title }}</p>
			</a>
    	</div>
	  {% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}

